html, body, #root {
    /*width: 100vw;*/
    width: 100%;
    /*height: 100vh;*/
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    margin: 0;
}

